<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elcom.myelcom">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"  tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.elcom.myelcom.AApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme.Base">
        <activity android:name="com.elcom.myelcom.view.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.elcom.myelcom.view.ui.SourcesActivity" />
        <activity android:name="com.elcom.myelcom.view.ui.DetailActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.elcom.myelcom.view.ui.MainActivity" />
        <activity
            android:name="com.elcom.myelcom.view.ui.HomeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name="com.elcom.myelcom.services.CallService" />

        <service
            android:name=".services.NotificationExtenderOneSignal"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>



        <meta-data
            android:name="com.quickblox.messages.TYPE"
            android:value="GCM" />
        <meta-data
            android:name="com.quickblox.messages.SENDER_ID"
            android:value="@string/sender_id" />
        <meta-data
            android:name="com.quickblox.messages.QB_ENVIRONMENT"
            android:value="DEVELOPMENT" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.elcom.myelcom.view.ui.CallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyCallThemes" />
        <activity
            android:name="com.elcom.myelcom.view.ui.PermissionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.AllFriendQuickBloxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.TimeKeepingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.OpponentsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.LunchRegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.ProfileFavouriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.SettingChangePwActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elcom.myelcom.view.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.LunchCalendarRegisActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.ForgetPaswordSuccessfullyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.elcom.myelcom.view.ui.activity.UpdateMobileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <!--<receiver android:name="com.elcom.myelcom.view.ui.fragment.HomeFragment$MyReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="BROARD_CHANGE_AVATAR" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <activity
            android:screenOrientation="portrait"
            android:name="com.elcom.myelcom.view.ui.fragment.news.NewsAllActivity" />
        <activity android:name="com.elcom.myelcom.view.ui.fragment.news.NewsDetailActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>